.force-wrap {
  word-wrap:break-word;
  width:100%;
  display:block;
}
#nav-bar{
  background-color: #345688 !important;
  background-image: none;
}
#nav-title{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 28.4444px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 1rem;
}
#nav-login-but{
  width: 7.5em;
  height: 2em;
  background-color: #345688;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 6px 12px 6px 12px;
}
#nav-register-but{
  width: 7.5em;
  height: 2em;
  background-color: #FFFFFF;
  border: 1px solid #345688;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 6px 12px 6px 12px;
}
#nav-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  margin-top: 1em;
  text-decoration: none;
}
#nav-register{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #345688;
  margin-top: 1em;
  text-decoration: none;
}
@media (min-width: 576px) {
  #login-border, #account-border, #regis-border, #lab-border{
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    /* filter: drop-shadow(4px, 4px 4px #c4c4c4); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
#login-border{
  width: 35em;
  height: 28em;
  margin-top: 3em;
  padding: 3em;
}
#regis-border{
  width: 35em;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 3em;
}
#ori-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 12px; /*文字大小*/
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 1000;
  font-size: 1em;
  color: #495057; /*文字顏色*/
  background-color: #fff; /*選單背景顏色*/
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
 }
 #depart-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 12px; /*文字大小*/
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 1000;
  font-size: 1em;
  color: #495057; /*文字顏色*/
  background-color: #fff; /*選單背景顏色*/
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
 }
#account-border{
  width: 35em;
  height: 24em;
  margin-top: 3em;
  padding: 3em;
}
#lab-border{
  width: 35em;
  height: 18em;
  margin-top: 3em;
  padding: 3em;
}
.button-login{
  width: 100%;
  height: 2.5em;
  background-color: #345688;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 1em;

  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
}

#line-button-login {
  background-color: #24C220;
}

#login-text{
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 1000;
  font-size: 1em;
  color: #345688;
  margin-top: 1em;
  text-decoration: none;
}
#login-text-gray{
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 1000;
  font-size: 1em;
  color: #636363;
  margin-top: 1em;
  text-decoration: none;
}
#home-text-black{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

#flash_bar_danger, #flash_bar_success{
  margin-top: 1em;
}

.post_font{
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
}

#post_can_view{
  color: #345688;
  text-decoration: underline;
  cursor: pointer;
}

.vote_sum{
  margin-bottom: 0;
}

.score {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;

  font-size: 1.5em;
}

.positive {
  background-color: #345688;
}

.negative {
  background-color: #E8837E;
}

.text-positive {
  color: #345688;
}

.text-negative {
  color: #E8837E;
}

.card-post {
  border-radius: 2rem;
  cursor: pointer;
  min-width: 17em;
  max-width: 540px;
}
.card-department {
  border-radius: 2rem;
  cursor: pointer;
  max-width: 540px;
}
.post_content{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2; /*行數*/
  -webkit-box-orient: vertical;
  white-space: normal;
}

@media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
    max-width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .container, .container-sm {
      max-width: 823px;
  }
}

@media (min-width: 992px){
  .post_align {
    margin-left: 1.5em;
  }
}

@media (max-width: 992px){
  .post_align {
    margin-left: 0.6em;
  }
}