.force-wrap {
  word-wrap:break-word;
  width:100%;
  display:block;
}
#nav-bar{
  color:  #345688;
  width: 1680px;
  height: 60px;
}
#nav-title{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 28.4444px;
  color: #FFFFFF;
  text-decoration: none;
}
#nav-login-but{
  border: 1px solid #FFFFFF !important;
  box-sizing: border-box !important;
  border-radius: 6px !important;
}
#nav-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  margin-top: 1em;
  text-decoration: none;
}
#nav-register{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #345688;
  margin-top: 1em;
  text-decoration: none;
}
#login-border{
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* filter: drop-shadow(4px, 4px 4px #c4c4c4); */
  border-radius: 20px;
  width: 35em;
  height: 28em;
  margin-top: 3em;
  padding: 3em;
}
#account-border{
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* filter: drop-shadow(4px, 4px 4px #c4c4c4); */
  border-radius: 20px;
  width: 35em;
  height: 20em;
  margin-top: 3em;
  padding: 3em;
}
#button-login{
  width: 100%;
  height: 2.5em;
  background-color: #345688;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 1em;

  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
}
#login-text{
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 1000;
  font-size: 1em;
  color: #345688;
  margin-top: 1em;
  text-decoration: none;
}
#login-text-gray{
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 1000;
  font-size: 1em;
  color: #636363;
  margin-top: 1em;
  text-decoration: none;
}
#home-text-black{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}