---
# Rename file to secrets.yml to get started for development or test

development:
  API_URL: http://localhost:3000/api/v1
  APP_URL: http://localhost:9292
  SESSION_SECRET: ND3mZpWrmpAEEjke2N7eJn65IrUPLtCxwYSaql1b0L0+LgaxMPik2Eb9DEYsNSV4SWC4FCOdKtsQ8IIangRYDQ==
  MSG_KEY: <`rake generate:msg_key`>
  REDIS_URL: <provision Redis instance; provide non-TLS URL for dev/test>
  LINE_OAUTH_URL: https://access.line.me/oauth2/v2.1/authorize
  LINE_CHANNEL_ID: LINE_CHANNEL_ID
  LINE_REDIRECT_URI: http://localhost:9292/auth/line_callback
  LINE_SCOPE: 'profile openid email'
  LINE_NOTIFY_OAUTH_URL: https://notify-bot.line.me/oauth/authorize
  LINE_NOTIFY_CHANNEL_ID: LINE_NOTIFY_CHANNEL_ID
  LINE_NOTIFY_REDIRECT_URI: http://localhost:9292/auth/line_notify_callback
  LINE_NOTIFY_SCOPE: 'notify'

test:
  API_URL: http://localhost:3000/api/v1
  APP_URL: http://localhost:9292
  SESSION_SECRET: ND3mZpWrmpAEEjke2N7eJn65IrUPLtCxwYSaql1b0L0+LgaxMPik2Eb9DEYsNSV4SWC4FCOdKtsQ8IIangRYDQ==
  MSG_KEY: <`rake generate:msg_key`>
  REDIS_URL: <provision Redis instance; provide non-TLS URL for dev/test>
  LINE_OAUTH_URL: https://access.line.me/oauth2/v2.1/authorize
  LINE_CHANNEL_ID: LINE_CHANNEL_ID
  LINE_REDIRECT_URI: http://localhost:9292/auth/line_callback
  LINE_SCOPE: 'profile openid email'
  LINE_NOTIFY_OAUTH_URL: https://notify-bot.line.me/oauth/authorize
  LINE_NOTIFY_CHANNEL_ID: LINE_NOTIFY_CHANNEL_ID
  LINE_NOTIFY_REDIRECT_URI: http://localhost:9292/auth/line_notify_callback
  LINE_NOTIFY_SCOPE: 'notify'

production:
  API_URL: <provisioned API URL (ending with api/[version])>
  APP_URL: <provisioned app URL (root without ending slash)>
  SESSION_SECRET: <`rake generate:session_secret`>
  MSG_KEY: <`rake generate:msg_key`>
  REDIS_URL: <provision Redis instance with TLS URL>
  REDIS_TLS_URL: <provision Redis instance with TLS URL>
  LINE_OAUTH_URL: https://access.line.me/oauth2/v2.1/authorize
  LINE_CHANNEL_ID: LINE_CHANNEL_ID
  LINE_REDIRECT_URI: http://localhost:9292/auth/line_callback
  LINE_SCOPE: 'profile openid email'
  LINE_NOTIFY_OAUTH_URL: https://notify-bot.line.me/oauth/authorize
  LINE_NOTIFY_CHANNEL_ID: LINE_NOTIFY_CHANNEL_ID
  LINE_NOTIFY_REDIRECT_URI: http://localhost:9292/auth/line_notify_callback
  LINE_NOTIFY_SCOPE: 'notify'